body {
    background: #fff;
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    color: #222;
    margin:5px;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmenu {
    padding: 0px;
    display: flex;
    align-items: center;
}

.menuimage {
    margin-left: 10px;
    height: 25px;
}

.profileimg {
    margin-left: 10px;    
    border-radius: 50px;
    height: 32px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.searchcontainer {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 44px;
    margin-top: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
}

.search {
    flex-grow: 1;
    border: none;
}

.searchglass {
    padding-left: 10px;
    height: 20px;
    margin: auto
}

.microphone {
    height: 20px;
    margin: auto;
    padding-right: 10px;
}

.searchbuttons {
    margin-top: 25px;
}

.searchbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.luckybutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}



footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0;
    width: 100vw;
    margin: 0px;
    border-top: 1px solid #dadce0;
    background-color: rgb(242 242 242);
}

footer a {
    color: #70757a;
}

.footermenu1 {
 padding-left: 20px;
}

.footermenu2 {
    padding-right: 20px;
}

footer a {
    color: rgba(0,0,0,.54);
}

ul {
    padding-inline-start: 0px;
}

